* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #2b70a1;
}

#TopBox {
    width: 400px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
}

#TopBox header {
    display: flex;
    font-size: 20px;
    font-weight: 500;
    color: #2b70a1;
    padding: 16px 15px;
    align-items: center;
    border-bottom: 0.5px solid #e9e6e6;
}
#Arrow{
    display: none;
}

header i {
    font-size: 25px;
    cursor: pointer;
    margin-right: 8px;
}

#TopBox,
#SearchInputBox {
    margin: 20px 25px 30px;
}

#SearchInputBox {
    font-size: 17px;
    text-align: center;
    padding: 12px 10px;
    border-radius: 7px;
    margin-bottom: 15px;
}

#infoTxt{
    margin-bottom: 20px;
}

.error {
    color: #721c24;
    display: block;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#SearchDiv input::placeholder {
    color: #bfbfbf;
}

#SearchDiv .separator {
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background: #ccc;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.separator::before {
    content: "or";
    color: #b3b3b3;
    font-size: 19px;
    padding: 0 15px;
    background: #fff;
}

#SearchDiv #currentBtn{
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    background: #3a95d6;
    transition: 0.3s ease;
}

#SearchDiv input {
    width: 100%;
    height: 55px;
    border: 0.2px solid #2b70a1;
    font-size: 18px;
    border-radius: 7px;
    color: black;
    background: white;
    padding: 5px 10px;
}

#SearchDiv input:focus {
    outline: 0.3px solid #2b70a1;
}

#SearchDiv button:hover {
    background: #2b70a1;
}


#WeatherDetails #img {
    max-width: 125px;
}

#WeatherDetails #Temprature {
    display: flex;
    font-weight: 500;
    font-size: 72px;
    justify-content: center;
}

#WeatherDetails #Temprature .Number {
    font-weight: 600;
}

#WeatherDetails #Temprature .degree {
    font-size: 40px;
    display: block;
    margin: 10px 5px 0 0;
}

#cooldata .weather {
    font-size: 21px;
    text-align: center;
    margin: -5px 20px 15px;
}

#cooldata .location {
    font-size: 19px;
    padding: 0 20px;
    text-align: center;
    margin-bottom: 30px;
    align-items: flex-start;
}

.location i {
    font-size: 22px;
    margin: 4px 5px 0 0;
}

#WeatherDetails{
    display: none;
}
#bottomDetails{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    border: 1px solid #ccc;
  }
  #bottomDetails .column{
    display: flex;
    width: 100%;
    padding: 15px 0;
    align-items: center;
    justify-content: center;
  }
  #air,.column i{
    color: #5DBBFF;
    font-size: 40px;
  }
  .column.humidity{
    border-left: 1px solid #ccc;
  }
  .column .details{
    margin-left: 3px;
  }
  .details .temp, .humidity span{
    font-size: 18px;
    font-weight: 500;
    margin-top: -3px;
  }
  .details .temp .deg{
    margin: 0;
    font-size: 17px;
    padding: 0 2px 0 1px;
  }
  .column .details p{
    font-size: 14px;
    margin-top: -6px;
  }
  .humidity i{
    font-size: 37px;
  }